
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iStock Sample Project</title>    

</head>

<body>

    <div class="brand">iStock</div>

    <div class="container">

        <div class="row">
            <div class="box min_h">
                
                <div class="col-xs-12 col-sm-2 text-center">
                    <div class="entry-meta">
                        <span><%= @article.created_at.strftime("%Y %B %d, %H:%M:%S") %></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    
                    <h2 class="text-center"><%= @article.title.html_safe %></h2>

                    <p><%= @article.body.html_safe %></p>
                    
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

   

</body>

</html>
